<!DOCTYPE html>
<html>
    <head>
        <title>vindicta.</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <div class="logo">
            <a href="index.html"><img src="./static/logo.png" width="125px"></a>
       </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="index.html">Home.</a></li>
                <li><a href="shop.html">Shop.</a></li>
                <li><a href="aboutus.html">About Us.</a></li>
                <li><a href="lookbook.html">LookBook.</a><br></li>
                <li><a href="contacts.html">Contacts.</a><li>
            </ul>
        </nav>
    </head>
    <body>
        <h1>vindicta.</h1>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo"></div>
                </div>
            </div>
          </div>
       <p>coming soon.</p>
    </body>
</html>